.getotp_Container {
    display: flex;
}

.imgContainer {
    height: 100vh;
    width: 70%;
}

.heroimg {
    width: 100%;
    height: 100%;
}

.otpSection {
    box-sizing: border-box;
    width: calc(100% - 70%);
    padding: 5rem 3rem;
    position: relative;
}

.secOtpElem {
    display: flex;
    align-items: center;
    margin: 1rem 0;

    h4 {
        margin: .5rem 0;
    }
}

.goggleBtn {
    border-radius: .2rem;
    width: 100%;
    background-color: black;
    color: rgb(241, 223, 223);
    margin-top: 1rem;
    justify-content: center;
}

.optFotter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0%;
    width: 80%;
}